@charset "UTF-8";
/* EcjtuNet sass modules lib
 *
 *致力于提高日新前端团队的开发效率
 *
 *@author           Venshy at EcjtuNet
 */
/* 文件载入
 ----------------------------------------------------------*/
/* 布局
 -------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* mobile highlinght */
body {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: none;
  /* WP8 */ }

/*  css reset  */
/* 添加className形式 */
/* 常用属性库，类名形式添加使用 
 * such as:　<div class="fl"> </div>
 */
/* about float */
.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clear {
  clear: both; }

.overft {
  overflow: hidden; }

/* about display */
.hidden {
  display: none; }

/* about position */
.head-fixed {
  position: fixed;
  left: 0;
  top: 0; }

.foot-fixed {
  position: fixed;
  left: 0;
  bottom: 0; }

/* 居中 */
.txtc {
  text-align: center; }

.layx {
  margin: 0 auto; }

/* 三角形 */
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border: 6px solid transparent;
  border-top: 6px solid black;
  content: ""; }

.wid100 {
  width: 100%; }

/* page layout 通过给body添加className使用
 * such as: <body class="mse"></body>
 * WARNING: html按照README书写，或参考测试页面
 * _config.scss宽高参数需自主修改 
 * Default: $sub-width: 0; $extra-width: 0; $wrap-width: 990px;
 *
 *
 *
 * 因为布局遵循内容至上原则,所以需要设置$header-height
 * Default: $header-height: 0;
 */
/* 布局
 -------------------------------------------------------------*/
/* m: main, s: sub, e: extra */
.wrap {
  width: 990px;
  overflow: hidden; }

.mse #content {
  overflow: hidden;
  margin-top: 20px; }
.mse .main {
  width: 100%;
  float: left; }
  .mse .main .wrap {
    margin: 0 0 0 0; }
.mse .sub {
  width: 0;
  float: left;
  margin-left: 0; }
.mse .extra {
  width: 0;
  margin-left: 0;
  float: left; }
.mse footer {
  width: 100%; }
.mse header {
  width: 100%;
  position: absolute;
  top: 0; }

/**************************************************************/
.sme #content {
  overflow: hidden;
  margin-top: 20px; }
.sme .main {
  width: 100%;
  float: left; }
  .sme .main .main-wrap {
    margin: 0 0 0 0; }
.sme .sub {
  width: 0;
  float: left;
  margin-left: -100%; }
.sme .extra {
  width: 0;
  margin-left: 0;
  float: left; }
.sme footer {
  width: 100%; }
.sme header {
  width: 100%;
  position: absolute;
  top: 0; }

/**************************************************************/
.sem #content {
  overflow: hidden;
  margin-top: 20px; }
.sem .main {
  width: 100%;
  float: left; }
  .sem .main .main-wrap {
    margin: 0 0 0 0; }
.sem .sub {
  width: 0;
  float: left;
  margin-left: -100%;
  position: relative;
  left: 0; }
.sem .extra {
  width: 0;
  margin-left: -100%;
  float: left;
  position: relative;
  left: 0; }
.sem footer {
  width: 100%; }
.sem header {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0; }

/*  布局  */
/* mixin形式 */
/* 圆角
 --------------------------------------------------*/
/* =appearance
 *-------------------------------------------------*/
/* user-select
 --------------------------------------------------*/
/* =animation
 *-------------------------------------------------*/
/* =rotate
 *-------------------------------------------------*/
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  background: #fff;
  border: 0; }

/*  组件  */
