@charset "utf-8";

/* THX 4 http://kevinburke.bitbucket.org/markdowncss/markdown.css */


article.use {
    margin: 0 auto;
    padding: 12px;
    color: #555;
    font: 14px/1 Georgia, Palatino, "Microsoft Yahei", "微软雅黑", sans-serif;

    h1, h2, h3, h4 {
        color: #111111;
        font-weight: 400;
    }
    h1, h2, h3, h4, h5, p {
        margin-bottom: 24px;
        padding: 0;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
        margin: 24px 0 6px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 12px;
    }
    a {
        color: #0099ff;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }
    a:hover {
        text-decoration: none;
        color: #ff6600;
    }
    a:visited {
        color: purple;
    }
    ul, ol {
        padding: 0 24px;
        margin: 0;
    }
    ol {
        list-style: decimal;
    }
    ul {
        list-style: disc;
    }
    li {
        line-height: 24px;
    }
    li ul, li ul {
        margin-left: 12px;
        padding: 0;
    }
    li ul {
        list-style: circle;
        margin-bottom: 12px;
    }
    p, ul, ol {
        font-size: 14px;
        line-height: 24px;
        max-width: 540px;
    }
    pre {
        padding: 0px 24px;
        max-width: 800px;
        white-space: pre-wrap;
    }
    code {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        line-height: 1.5;
        font-size: 13px;
    }
    aside {
        float: right;
        width: 390px;
    }
    blockquote {
        border-left: 10px solid #5252e0;
        background: #eee;
        padding: 0 15px;
        margin-left:0;
        max-width: 476px;
        &.warning {
            border-left-color: #52e052;
            background-color: #efe;
        }
        &.error {
            border-left-color: #e05252;
            background-color: #cee;
        }
    }
    blockquote  cite {
        font-size:14px;
        line-height:20px;
        color:#bfbfbf;
    }
    blockquote cite:before {
        content: '\2014 \00A0';
    }

    blockquote p {
        padding: 12px 0;
        margin: 0;
        color: #666;
        max-width: 460px;
    }
    hr {
        width: 100%;
        text-align: left;
        margin: 20px auto;
        color: #999;
    }

    p img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}