@charset "utf-8";

/*
 * 使用占位符减少你的重复代码
 * %placeholder
 */



/* left, right, top, bottom */
%left0 {
    left: 0;
}
%right0 {
    right: 0;
}
%top0 {
    top: 0;
}
%bottom {
    bottom: 0;
}
/* padding, margin */
%padding0 {
    padding: 0;
}
%margin0 {
    margin: 0;
}

/* about float */
%fl {
    float: left;
}

%fr {
    float: right;
}

%fn {
    float: none;
}

%clear {
    clear: both;
}

%ofhidden {
    overflow: hidden;
}

/* 居中 */
%txtcenter {
    text-align: center;
}

%margincenter {
    margin: 0 auto;
}


%width100 {
    width: 100%;
}

/* position */
%relative {
    position: relative;
}
%absolute {
    position: absolute;
}
%fixed {
    position: fixed;
}

/* display */
%block {
    display: block;
}
%inline-block {
    display: inline-block;
}

/* text-decoration */
%txt-no-style {
    text-decoration: none;
}