@charset "utf-8";

/* 配色
 ----------------------------------------------------------*/
$sub-bg :               #c3c;
$extra-bg :             #ccc;
$main-bg :              #fff;
$main-text-color :      #000;

/* 布局
 ----------------------------------------------------------*/
$sub-width :         220px;
$extra-width :       200px;
$header-height :     50px;
$main-width :        700px;

/* 路径
 ----------------------------------------------------------*/
$imagepath : "../images";