@charset "utf-8";

/* 圆角
 --------------------------------------------------*/
@mixin radius($radius:5px) {
    border-radius : $radius; 
    -webkit-border-radius : $radius; 
    -moz-border-radius : $radius;
    -ms-border-radius : $radius;
}

/* =appearance
 *-------------------------------------------------*/
@mixin appearance($style:button) {
    -webkit-appearance : $style;
       -moz-appearance : $style;
            appearance : $style;
}

/* user-select
 --------------------------------------------------*/
@mixin user-select( $style:none ) {
    -webkit-user-select:$style;
       -moz-user-select:$style;
        -ms-user-select:$style;
}