@charset "utf-8";

/* 常用属性库，类名形式添加使用 
 * such as:　<div class="fl"> </div>
 */


/* about float */
.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.clear {
	clear: both;
}

.overft {
	overflow: hidden;
}


/* about display */
.hidden {
	display: none;
}

/* about position */
.head-fixed {
	position: fixed;
	left: 0;
	top: 0;
}

.foot-fixed {
	position: fixed;
	left: 0;
	bottom: 0;	
}

/* 居中 */
.txtc {
	text-align: center;
}

.layx {
	margin: 0 auto;
}


/* 三角形 */
.triangle {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border: 6px solid transparent;
	border-top: 6px solid black;
	content: "";
}

.wid100 {
	width: 100%;
}