@charset "utf-8";

/* 圆角
 --------------------------------------------------*/
@mixin radius($radius:5px) {
    -webkit-border-radius : $radius; 
       -moz-border-radius : $radius;
        -ms-border-radius : $radius;
            border-radius : $radius; 
}

/* =appearance
 *-------------------------------------------------*/
@mixin appearance($style:button) {
    -webkit-appearance : $style;
       -moz-appearance : $style;
            appearance : $style;
}

/* user-select
 --------------------------------------------------*/
@mixin user-select( $style:none ) {
    -webkit-user-select:$style;
       -moz-user-select:$style;
        -ms-user-select:$style;
}

/* =animation
 *-------------------------------------------------*/
@mixin animation($name, $duration) {
    -webkit-animation : $name $duration;
       -moz-animation : $name $duration;
         -o-animation : $name $duration;
            animation : $name $duration;
}

/* =rotate
 *-------------------------------------------------*/
@mixin rotate($value) {
    -webkit-transform : rotate($value);
       -moz-transform : rotate($value);
        -ms-transform : rotate($value);
         -o-transform : rotate($value);
}

select {
    @include appearance;
    text-align : center;
    background : #fff;
    border : 0;
}